   /* sora from google fonts  */
   @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

  :root {
    --primary:#f1b254;
    --dark:#21252f;
    --body:#888;
    --box-shadow:0 8px 22px rgba(0,0,0,0.1);

  }


  body {
    font-family: sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
  }


  h1,h2,h3,h4,h5,h6,
  .display-4 {
    color: var(--dark);
    font-weight: 700;

  }


  a {
    color: var(--dark);
    text-decoration: none;
  }

  img{
    width: 100%;
  }

  .navbar {
    box-shadow: var(--box-shadow);
  }



  .logo {
    width: 160px;
  }

  .navbar .nav-link {
    font-size: 14px;
    font-weight: 700;

  }

  .btn {
     
    border-radius: 0;
    padding: 14px 18px;
    background-color: var(--primary);
    color: #fff;
  }
  .btn:hover {
    background-color: #e08f16;
    color: #fff ;
  }

  .star {
    background-image: url(../Images/p3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;

  }
  
  .star::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(45, 38, 29, 0.8);
    z-index:-1;


  }


  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }


  .card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: 0.30s ;
    cursor: pointer;
    
  }


  .card-effect:hover{
    box-shadow: none;
    transform:translateY(5px) ;
  }

  .iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
    cursor: pointer;


  }


  .col-img{
    background-image: url(../Images/blog2.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    
    
  }

  .project {
    transition: 0.50s; 
    cursor: pointer;
  }

  .project:hover {
     margin-left:5px;
  }

  .footer{
    background-color: var(--dark);
    padding-bottom: 90px;
    padding: 90px;
    
  }

  .under-footer{
    align-items: center;
     height: 100px;
    background-color: #343740;
  }

  .bx{
    cursor: pointer;
    
  }





   



